<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/pico.min.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <title>CyprusRust - {{ page.title }}</title>
  </head>
  <body>
    <header>
       <a href="/">
         <hgroup>
           <h1>CyprusRust</h1>
           <h2>Rust User Group in Cyprus</h2>
         </hgroup>
       </a>
    </header>
    <main class="container">
      <article>
        {{ page.content }}

        <footer>
          <div class="grid">
            <img class="round" src="{{ page.data.avatar }}" alt="{{ page.data.avatarAlt }}" />
            <hgroup>
              <h5>by {{ page.data.author }}</h5>
              <p>{{ page.data.bio }}</p>
              <br>
              <a href="{{ page.data.contact }}">Get in touch</a>
            </hgroup>
          </div>
        </footer>
      </article>
    </main>
  </body>
</html>